<% include ../partials/head %>
<% include ../partials/navbarBlack %>

<body id="body-prof">

<div id="profile-page-up"class="container">
  <div class="row">

    <div class="col-md-3 col-md-offset-1" id="prof-img-col">
      <div id='prof-img-div'><img id='prof-img' src=<%= user.local.profilePicture %>></div>
      <br><br>
       <center><a href='/users/profile/edit/' class="btn btn-danger btn-md" id="prof-button">Edit User</a></center>
    </div>

    <div class="col-md-6" id="prof-content-col">

        <% if (curr_user) { %>
          <h1><%= user.local.firstName %> <%= user.local.lastName %></h1>
          <p>
          <strong>Email</strong>: <%= user.local.email %><br>
          <strong>Address:</strong> <%= user.local.address %><br>
          <strong>Phone Number: </strong><%= user.local.phoneNumber %><br>
          <strong>Driver: </strong><% if (user.local.driver === true) { %>
          Yes
          <% } %>
          </p>
        <% } %>
        <% if (user.venmo.email) { %>
        <p>
          <strong>username</strong>: <%= user.venmo.username %><br>
          <strong>email</strong>: <%= user.venmo.email %><br>
          <strong>name</strong>: <%= user.venmo.name %>
        </p>
        <% } %>
      <br><br><hr id='prof-hr'>

        <div>
          <h3 id='prof-order-hist'>Order History</h3>
          <br>
          <% include ../orders/orderShow.ejs %>
        </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<% include ../partials/footer %>
</body>
