
<% include ../partials/head %>
<% include ../partials/navbar %>
<body id="body-prof">

<div class="container">
  <div class="row">

    <div class="col-md-3 col-md-offset-1" id="prof-img-col">
      <div id='prof-img-div'><img id='prof-img' src='http://www.marthastewart.com/sites/files/marthastewart.com/styles/wmax-520-highdpi/public/d26/mb_1001_strawberry_cupcake/mb_1001_strawberry_cupcake_vert.jpg?itok=NWhXpH67'></div>
      <button type="button" class="btn btn-primary" id="prof-edit">Edit Profile</button>
    </div>

    <div class="col-md-6" id="prof-content-col">

        <% if (user.local.email) { %>
          <p>
          <strong>Email</strong>: <%= user.local.email %><br>
          <strong>Name:</strong> <%= user.local.firstName %><%= user.local.lastName %><br>
          <strong>Address:</strong> <%= user.local.address %><br>
          <strong>Phone Number:</strong><%= user.local.phoneNumber %><br>
          </p>
        <% } %>
        <% if (user.venmo.email) { %>
        <p>
          <strong>username</strong>: <%= user.venmo.username %><br>
          <strong>email</strong>: <%= user.venmo.email %><br>
          <strong>name</strong>: <%= user.venmo.name %>
        </p>
        <% } %>
      <br><br><hr id='prof-hr'>

      <h3 id='prof-order-hist'>Order History</h3>
      <br>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>

</body>
<% include ../partials/footer %>

